<div class="hidden vh-100" id="landing">
		<div class="container ml-3 mr-3">
			<div class="row row-cols-1 row-cols-md-2 mb-5">
				<div class="col">
					<div class="position-relative top-50 start-50 translate-middle text-center mt-3">
						<h1 class="display-5">Welcome to <u id="cyberpunkxxx">CyberpunkXXX<span id="cyberpunkxxxDot">.</span></u></h1>
						<p class="lead">
							Dedicated discord bot for <u id="cyberpunkxxx">CyberpunkXXX<span id="cyberpunkxxxDot">.</span></u> | Fast, modern and constantly updated
							<br>
							<a class="btn btn-secondary mt-3 mb-2 ms-2" href="/support" target="_blank">Support Server</a>
						</p>
					</div>
				</div>
				<div class="col">
					<center>
						<img class="img-fluid shadow" id="artwork1" src="../public/assets/art/artwork_1.png" alt="Artwork">
					</center>
				</div>
			</div>
		</div>
	</div>