<footer class="bd-footer py-5 mt-5 bg-dark" id="footer-whole">
	<div class="container py-5">
		<div class="row" id="footer-content">
			<div class="col-lg-3 offset-lg-2 mb-3">
				<a href="/" class="d-inline-flex align-items-center mb-2 link-light text-decoration-none">
					<img src="../public/assets/favicon.png" width="80" alt="Logo">
					<span style="margin-left: 0.7em; font-size: 1.5em;"><b>CyberpunkXXX.</b></span>
				</a>
				<ul class="list-unstyled small text-muted">
					<li class="mb-2 text-light">
						Designed and built with all the love of
						<a class="text-decoration-none link-light" href="#"><b>Ryahn</b></a>.
					</li>
					<li class="mb-2 text-light">
						Code licensed
						<a class="text-decoration-none link-light" href="https://opensource.org/license/mit/" target="_blank"><b>MIT</b></a>.
					</li>
					
				</ul>
			</div>
			<div class="col-6 col-lg-3 offset-lg-1 mb-3">
				<h5>Links</h5>
				<ul class="list-unstyled">
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="/">Home</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="/dashboard">Dashboard</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="https://www.iubenda.com/terms-and-conditions/49658478">Terms of Service</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="https://www.iubenda.com/privacy-policy/49658478/cookie-policy">Cookie Policy</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="https://www.iubenda.com/privacy-policy/49658478/legal">Privacy Policy</a>
					</li>
					<li class="mb-1">
						<a class="text-decoration-none link-light" href="/support" target="_blank">Support</a>	
					</li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mb-3">
				<h5>Socials</h5>
				<ul class="list-unstyled">
					<li class="mb-2">
						<a class="text-decoration-none link-light" href="/support" target="_blank">Discord Server</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row text-center mt-3" id="footer-copy">
			<a class="text-decoration-none link-light" href="#">&copy; Ryahn {{copyrightYear}}</a>
		</div>
	</div>
</footer>